@page "/assessmentPage"

<h3>@Title</h3>
<div>
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
                    <MudCardContent>
            @if (!Questions.Any())
            {
                <MudSelect T="string" Label="Select Program" @bind-Value="model.Program" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined"
                       RequiredError="Program is required!" For="@(() => model.Program)">
                @foreach (var p in programs)
                {
                    <MudSelectItem T="string" Value="@p.ProgramId">@p.Name</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="string" Label="Select Subject" @bind-Value="model.Subject" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined"
                       RequiredError="Program is required!" For="@(() => model.Subject)">
                @foreach (var p in subject)
                {
                    <MudSelectItem T="string" Value="@p">@p</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="string" Label="Select Class" @bind-Value="model.Class" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined"
                       RequiredError="Program is required!" For="@(() => model.Class)">
                @foreach (var p in nclass)
                {
                    <MudSelectItem T="string" Value="@p">@p</MudSelectItem>
                }
            </MudSelect>

            <br />
            }
            else if (Title == "Comment")
            {
                <AssessmentComment Questions="@Questions"/>
            }
            else
            {
                <AssessmentCategory Questions="@Questions"/>
            }
            

            </MudCardContent>
            <MudCardActions>
            @if (!Questions.Any())
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => Start())">Start</MudButton>
            }
            else if (Title == "Comment")
            {
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Finish</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => MoveNext())">Next</MudButton>
            }
            </MudCardActions>
    </EditForm>
    </div>

